.card{
    border: 2px solid black;
    border-radius: 2px;
    padding: 15px 0;
    box-shadow: 2px 3px o grey;
    margin:15px 0 ;
}
.card h3 {
    margin-top: 0;
    color: aqua;
}
.card p {
    color: red;
    font-size: 15px;
}