main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}
 article{
        background-color: rgb(134, 5, 5);
        color: wheat;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid rgb(2, 54, 39);
       }